@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Itim", sans-serif;
  }
  
body {
    height: 100vh;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    transform: translate(-5%, -5%);
    left: 5%;
    top: 5%;
  }

.game-controls {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

  }

#moves {
    color: #FFF;
    font-size: 28px;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
} 

.game {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.6em;
  }

button {
    background: linear-gradient(340deg, rgba(253,211,96,1) 41%, rgba(208,94,228,1) 100%);
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-size: 24px;
}

.hide {
  display: none;
}

.card {
    width: 150px;
    height: 150px;
    background: linear-gradient(340deg, rgba(253,211,96,1) 41%, rgba(208,94,228,1) 100%);
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 600px;
}

.card .front, 
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-position: center;
    background-size: 85%;
    background: linear-gradient(340deg, rgba(253,211,96,1) 41%, rgba(208,94,228,1) 100%);
    background-repeat: no-repeat;
}

.card .back {
    transform: rotateY(180deg);
}

.card .front {
    background-image: url("../images/qm.svg");
  }
  
.card.flip {
    transform: rotateY(180deg);
  }

@media screen and (max-width: 850px) {
  
  .card {
      width: 120px;
      height: 120px;
    }
  
  .container {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  
  .game-controls {
      display: contents;
  }
}

@media screen and (max-width: 400px) {
  .container {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  
  .game-controls {
      display: contents;
  }

  .card {
      width: 85px;
      height: 85px;
  }

  button {
    font-size: 18px;
  }
}